# logs
/logs

# django-cache
/src/Personal_development/__pycache__
/src/app/__pycache__
/src/account/__pycache__
/src/album/__pycache__
/src/app/migrations/__pycache__
/src/account/migrations/__pycache__
/src/album/migrations/__pycache__

# media
/src/media