django
django-cleanup
django-cors-headers
django-filter
djangorestframework
djangorestframework-jwt
djlint
pillow
selenium
mod_wsgi
mod-wsgi-httpd
numpy
json5
mysqlclient
PyMySQL
scikit-build
opencv-python
djoser
