.save-btn {
    @include btn();
}

.delete-btn {
    @include btn(rgba(255, 0, 0, 0.705), rgba(11, 72, 204, 0.7));
    transition: all 0.3s ease-in-out;
    &:hover {
        background: rgba(255, 0, 191, 0.705);
        transition: all 0.3s ease-in;
    }
}

