.content-body__inner {
    padding: 0 15px;
}

#search {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    & p {
        padding-top: 20px;
        margin-bottom: 10px;
    }
    & .search-box {
        &__form {
            height: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        &__inputWrap {
            height: 100%;
            & #id_keyword {
                font-size: 1.2rem;
                height: 100%;
                padding: 0 15px;
                border: none;
                border-top: 2px solid rgb(9, 202, 1);
                border-left: 2px solid rgb(9, 202, 1);
                border-bottom: 2px solid rgb(9, 202, 1);
                border-radius: 3px 0 0 3px;
                outline: none;
            }
        }
        &__btn {
            height: 100%;
            padding: 0 15px;
            border: none;
            background-color: rgb(9, 202, 1);
            border-radius:0 3px 3px 0;
            color: rgb(255, 255, 255);
            outline: none;
            display:flex;
            justify-content: center;
            align-items: center;
            &__icon {
                font-size: 1.2rem;
            }

            &__text {
                margin-left: 10px;
                letter-spacing: 4px;
            }

            &:hover {
                background: rgb(6, 165, 0);
            }
        }
    }
}

// 共通スタイル
.images-box {
    display: flex;
    & .images-left {
        @include sm('min') {
            width: 80%;
        }
        & .images-list {
            margin:0 auto;
            padding: 0;
            & .image-item {
                padding: 0 20px;
                margin-bottom: 15px;
                @include sm('min') {
                    & .image-outer {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        & .image {
                            position: relative;
                            width: fit-content;
                            height: fit-content;
                            & .img-outer {
                                height: 180px;
                            }
                        }
                    }
                }
            }
            @include sm('max') {
                & img {
                    width: 100%;
                }
            }
            & img {
                display: block;
                margin: auto;
                max-width: 100%;
                height: 100%;
                object-fit: contain;
                background: rgb(235, 235, 235);
            }
        }
    }

    & .images-right {
        width: 20%;
        margin-bottom: 24px;

        // 将来的には、jsで制御するかも??
        @include sm('max') {
            display: none;
        }

        & .images-dragAndDrop {
            width: 100%;
            height: 300px;
            text-align: center;
            background: rgb(255, 255, 255);
            border: 3px dotted rgb(210, 210, 210);
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        & .images-btn__group {
            
        }

        & .preview__box {

            // 将来的には、jsで制御するかも??
            @include md('min') {
                & img {
                    width: 150px;
                }
            }
            @include lg('min') {
                & img {
                    width: 170px;
                }
            }
            @include xl('min') {
                & img {
                    width: 200px;
                }
            }
        }
    }
}
