.content-body__inner {
    padding: 0 15px;
}

#search {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    & p {
        padding-top: 20px;
        margin-bottom: 10px;
    }
    & .search-box {
        &__form {
            height: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
        &__inputWrap {
            height: 100%;
            & #id_keyword {
                font-size: 1.2rem;
                height: 100%;
                padding: 0 15px;
                border: none;
                border-top: 2px solid rgb(9, 202, 1);
                border-left: 2px solid rgb(9, 202, 1);
                border-bottom: 2px solid rgb(9, 202, 1);
                border-radius: 3px 0 0 3px;
                outline: none;
            }
        }
        &__btn {
            height: 100%;
            padding: 0 15px;
            border: none;
            background-color: rgb(9, 202, 1);
            border-radius:0 3px 3px 0;
            color: rgb(255, 255, 255);
            outline: none;
            display:flex;
            justify-content: center;
            align-items: center;
            &__icon {
                font-size: 1.2rem;
            }

            &__text {
                margin-left: 10px;
                letter-spacing: 4px;
            }

            &:hover {
                background: rgb(6, 165, 0);
            }
        }
    }
}

// 共通スタイル
.images-box {
    display: flex;
    height: 100%;
    & .images-left {
        width: 75%;
        height: 100%;

        & .images-list {
            margin:0 auto;
            padding: 0;
            & .image-item {
                padding: 0 10px;
                margin-bottom: 15px;
                @include sm('min') {
                    & .image-outer {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: rgb(235, 235, 235);
                        position: relative;
                        &.ui-selecting {
                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: rgba(9, 202, 1, 0.5);
                                width: 100%;
                                height: 100%;
                            }
                        }
                        & .image {
                            width: fit-content;
                            height: 180px;
                        }
                        & .image-btn {
                            border: none;
                            width: 27px;
                            height: 27px;
                            border-radius: 100px;
                            position: absolute;
                            top: 90%;
                            right: 3%;
                            transform: translateY(-50%);
                            cursor: pointer;
                            & .fa-save, & .fa-trash-alt {
                                font-size: 15px;
                                color: white;
                            }
                            & .fa-trash-alt {
                                font-size: 15px;
                                color: white;
                            }
                        }
                        & .save-btn {
                            background: rgba(11, 72, 204, 0.7);
                            &.clicked {
                                background: rgba(255, 0, 0, 0.705);
                            }
                        }
                        & .delete-btn {
                            background: rgba(255, 0, 0, 0.705);
                            transition: all 0.3s ease-in-out;
                            &:hover {
                                background: rgba(255, 0, 191, 0.705);
                                transition: all 0.3s ease-in;
                            }
                        }
                        & .image-checkbox {
                            position: absolute;
                            bottom: 4%;
                            left: 4%;
                        }
                        
                    }
                }
            }
            @include sm('max') {
                & img {
                    width: 100%;
                }
            }
            & img {
                display: block;
                margin: auto;
                max-width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    & .images-right {
        width: 25%;
        position: sticky;
        top: 55%;
        height: fit-content;
        overflow: hidden;
        // 将来的には、jsで制御するかも??
        @include sm('max') {
            display: none;
        }

        &__btn {
            border: none;
            text-align: center;
            width: 100%;
            border-radius: 5px;
            padding: 10px 20px;
            color: rgb(255, 255, 255);
            outline: none;
        }

        & .images-btn__group {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 0 10px;
            & .images-btn__reset {
                margin-left: 5px;
            }
            & .images-btn__save {
                margin-right: 5px;
            }
        }

        & .preview-box {
            margin: 10px 0;
            background: rgb(235, 235, 235);
            height: 200px;
            &__area{
                width: 100%;
                & .swiper-slide {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & img {
                        display: block;
                        max-width: 100%;
                        object-fit: contain;
                    }
                }
                // 将来的には、jsで制御するかも??
                @include md('min') {
                    & img {
                        height: 150px;
                    }
                }
                @include lg('min') {
                    & img {
                        height: 170px;
                    }
                }
            }
        }

        & .thumbnails-list {
            margin: 10px auto;
            & .swiper-wrapper {
                width: 100px;
                display: flex;
                & .swiper-slide {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100px;
                    height: 100px;
                    & img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }

                    &.swiper-slide-active {
                        border: solid 3px rgb(9, 202, 1);
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
