@mixin sm($type) {
    $px: 576px;
    @if ($type == 'max')
    {
        @media screen and (max-width: $px) {
            @content;
        }
    }
    @else if($type == 'min')
    {
        @media screen and (min-width: $px) {
            @content;
        }
    }
}
@mixin md($type) {
    $px: 768px;
    @if ($type == 'max')
    {
        @media screen and (max-width: $px) {
            @content;
        }
    }
    @else if($type == 'min')
    {
        @media screen and (min-width: $px) {
            @content;
        }
    }
}
@mixin lg($type) {
    $px: 992px;
    @if ($type == 'max')
    {
        @media screen and (max-width: $px) {
            @content;
        }
    }
    @else if($type == 'min')
    {
        @media screen and (min-width: $px) {
            @content;
        }
    }
}
@mixin xl($type) {
    $px: 1200px;
    @if ($type == 'max')
    {
        @media screen and (max-width: $px) {
            @content;
        }
    }
    @else if($type == 'min')
    {
        @media screen and (min-width: $px) {
            @content;
        }
    }
}

//ボタンのmixinです。
@mixin btn($color: rgba(11, 72, 204, 0.7), $color2: rgba(255, 0, 0, 0.705)) {
    border: none;
    background: $color;
    width: 27px;
    height: 27px;
    border-radius: 100px;
    position: absolute;
    top: 90%;
    right: 3%;
    transform: translateY(-50%);
    cursor: pointer;
    & .fa-save, & .fa-trash-alt {
        font-size: 15px;
        color: white;
    }
    & .fa-trash-alt {
        font-size: 15px;
        color: white;
    }
    &.active {
        background: $color2;
    }
}