@mixin sm($type) {
    $px: 576px;
    @if ($type == 'max')
    {
        @media screen and (max-width: $px) {
            @content;
        }
    }
    @else if($type == 'min')
    {
        @media screen and (min-width: $px) {
            @content;
        }
    }
}
@mixin md($type) {
    $px: 768px;
    @if ($type == 'max')
    {
        @media screen and (max-width: $px) {
            @content;
        }
    }
    @else if($type == 'min')
    {
        @media screen and (min-width: $px) {
            @content;
        }
    }
}
@mixin lg($type) {
    $px: 992px;
    @if ($type == 'max')
    {
        @media screen and (max-width: $px) {
            @content;
        }
    }
    @else if($type == 'min')
    {
        @media screen and (min-width: $px) {
            @content;
        }
    }
}
@mixin xl($type) {
    $px: 1200px;
    @if ($type == 'max')
    {
        @media screen and (max-width: $px) {
            @content;
        }
    }
    @else if($type == 'min')
    {
        @media screen and (min-width: $px) {
            @content;
        }
    }
}
