<div class="images-btn__group">
    <button type="button" class="images-right__btn images-btn__save blue-btn">一括保存</button>
    <button type="button" class="images-right__btn images-btn__reset red-btn">リセット</button>
</div>
<div class="preview-box swiper-container">
    <div class="preview-box__area swiper-wrapper">
        <div class="swiper-slide"><img src="/media/user_3/ヴェノム_1.jpg" width="" height="" /></div>
        <div class="swiper-slide"><img src="/media/user_3/ヴェノム_1.jpg" width="" height="" /></div>
        <div class="swiper-slide"><img src="/media/user_3/ヴェノム_1.jpg" width="" height="" /></div>
        <div class="swiper-slide"><img src="/media/user_3/ヴェノム_1.jpg" width="" height="" /></div>
    </div>
</div>
<div class="thumbnails-list">
    <ul class="swiper-wrapper">
        <li class="swiper-slide"><img src="/media/user_3/ヴェノム_1.jpg" width="" height="" /></li>
        <li class="swiper-slide"><img src="/media/user_3/ヴェノム_1.jpg" width="" height="" /></li>
        <li class="swiper-slide"><img src="/media/user_3/ヴェノム_1.jpg" width="" height="" /></li>
        <li class="swiper-slide"><img src="/media/user_3/ヴェノム_1.jpg" width="" height="" /></li>
    </ul>
</div>
