<div class="images-list row select-table">
    {% if request.path == '/app/' %}
        {% for link in link_list %}
            <div id="{{ forloop.counter }}" class="image-item ui-widget-content col-sm-7 col-md-3 col-xl-2">
                <div class="image-outer">
                    <div class="image">
                        <img src="{{ link }}" alt="" width="200" height="" />
                    </div>
                    <input id="chekcbox-{{ forloop.counter }}" type="checkbox" class="image-checkbox" value="{{ forloop.counter }}" />
                    <button class="image-btn save-btn" type="submit" value="{{ forloop.counter }}"><i class="fas fa-save"></i></button>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% for image in images %}
            <div id="{{ forloop.counter }}" class="image-item ui-widget-content col-sm-6 col-md-3 col-xl-2">
                <div class="image-outer">
                    <div class="image">
                        <img id="{{ image.id }}" src="{{ MEDIA_URL }}{{ image.picture }}" alt="" width="" height="" />
                    </div>
                    <input id="chekcbox-{{ forloop.counter }}" type="checkbox" class="image-checkbox" value="{{ image.id }}" />
                    <button class="image-btn delete-btn" type="submit" value="{{ forloop.counter }}"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% comment %} {% for serve in for_range %}
        <div id="{{ forloop.counter }}" class="image-item ui-widget-content col-sm-6 col-md-3 col-xl-2">
            <div class="image-outer">
                <div class="image">
                    <img src="/media/user_3/ヴェノム_1.jpg" alt="" width="" height="" />
                </div>
                <input id="chekcbox-{{ forloop.counter }}" type="checkbox" class="image-checkbox" value="{{ forloop.counter }}"/>
                <button class="image-btn save-btn" type="submit" value="{{ forloop.counter }}"><i class="fas fa-save"></i></button>
            </div>
        </div>
    {% endfor %} {% endcomment %}
    </div>