{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ログイン画面{% endblock %}</title>
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
    {% include 'account/footer.html' %}
    <script src="{% static 'account/js/password_view.js' %}"></script>
</body>
</html>