html {
  height: 100%;
  overscroll-behavior: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overscroll-behavior-y: contain;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  line-break: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 0.5rem 0.5rem;
}

.nav-right {
  margin: 0 0 0 auto;
}

.main-sidebar {
  background-color: #056c02;
}

.main-sidebar .brand-link {
  border-bottom: 1px solid #09ca01;
}

.nav-btn {
  background-color: inherit;
  width: 100%;
  text-align: left;
  border: none;
}

.nav-btn a {
  width: 100%;
}

.content-body__inner {
  padding: 0 15px;
}

#search {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

#search p {
  padding-top: 20px;
  margin-bottom: 10px;
}

#search .search-box__form {
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#search .search-box__inputWrap {
  height: 100%;
}

#search .search-box__inputWrap #id_keyword {
  font-size: 1.2rem;
  height: 100%;
  padding: 0 15px;
  border: none;
  border-top: 2px solid #09ca01;
  border-left: 2px solid #09ca01;
  border-bottom: 2px solid #09ca01;
  border-radius: 3px 0 0 3px;
  outline: none;
}

#search .search-box__btn {
  height: 100%;
  padding: 0 15px;
  border: none;
  background-color: #09ca01;
  border-radius: 0 3px 3px 0;
  color: white;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search .search-box__btn__icon {
  font-size: 1.2rem;
}

#search .search-box__btn__text {
  margin-left: 10px;
  letter-spacing: 4px;
}

#search .search-box__btn:hover {
  background: #06a500;
}

.images-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 576px) {
  .images-box .images-left {
    width: 80%;
  }
}

.images-box .images-left .images-list {
  margin: 0 auto;
  padding: 0;
}

.images-box .images-left .images-list .image-item {
  padding: 0 20px;
  margin-bottom: 15px;
}

@media screen and (min-width: 576px) {
  .images-box .images-left .images-list .image-item .image-outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .images-box .images-left .images-list .image-item .image-outer .image {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .images-box .images-left .images-list .image-item .image-outer .image .img-outer {
    height: 180px;
  }
}

@media screen and (max-width: 576px) {
  .images-box .images-left .images-list img {
    width: 100%;
  }
}

.images-box .images-left .images-list img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background: #ebebeb;
}

.images-box .images-right {
  width: 20%;
  margin-bottom: 24px;
}

@media screen and (max-width: 576px) {
  .images-box .images-right {
    display: none;
  }
}

.images-box .images-right .images-dragAndDrop {
  width: 100%;
  height: 300px;
  text-align: center;
  background: white;
  border: 3px dotted #d2d2d2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .images-box .images-right .preview__box img {
    width: 150px;
  }
}

@media screen and (min-width: 992px) {
  .images-box .images-right .preview__box img {
    width: 170px;
  }
}

@media screen and (min-width: 1200px) {
  .images-box .images-right .preview__box img {
    width: 200px;
  }
}

.save-btn {
  border: none;
  background: rgba(11, 72, 204, 0.7);
  width: 27px;
  height: 27px;
  border-radius: 100px;
  position: absolute;
  top: 90%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.save-btn .fa-save, .save-btn .fa-trash-alt {
  font-size: 15px;
  color: white;
}

.save-btn .fa-trash-alt {
  font-size: 15px;
  color: white;
}

.save-btn.active {
  background: rgba(255, 0, 0, 0.705);
}

.delete-btn {
  border: none;
  background: rgba(255, 0, 0, 0.705);
  width: 27px;
  height: 27px;
  border-radius: 100px;
  position: absolute;
  top: 90%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.delete-btn .fa-save, .delete-btn .fa-trash-alt {
  font-size: 15px;
  color: white;
}

.delete-btn .fa-trash-alt {
  font-size: 15px;
  color: white;
}

.delete-btn.active {
  background: rgba(11, 72, 204, 0.7);
}

.delete-btn:hover {
  background: rgba(255, 0, 191, 0.705);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/*# sourceMappingURL=style.css.map */