{% load static %}
<a href="" class="brand-link">
    <img src="{% static 'images/icon_circle.png' %}" alt="" class="brand-image img-circle elevation-3" width="" height="" />
    <span class="brand-text font-weight-light">Scraping App</span>
</a>
<div class="sidebar">
    {% comment %} <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="" alt="" class="img-circle elevation-2" width="" height="" /> 
        </div>
        <div class="info">
            <a href="#" class="d-block">{{ user }}</a>
        </div>
    </div> {% endcomment %}
    <ul class="nav nav-pills nav-sidebar flex-column nav-legacy">
        <li class="nav-item">
            <a href="{% url 'app:index' %}" class="nav-link" role="button">
                <i class="nav-icon fas fa-home"></i>
                <p>
                    ホーム
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'app:list' %}" class="nav-link" role="button">
                <i class="nav-icon fas fa-images"></i>
                <p>
                    写真一覧
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'app:index' %}" class="nav-link" role="button">
                <i class="nav-icon fas fa-search"></i>
                <p>
                    スクレイピング
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
        </li>
    </ul>
</div>
