{% extends "app/base.html" %}
{% load static %}
{% block title %}写真一覧{% endblock %}
{% block content %}
    <div id="chart-head" class="head">
        <h2 class="head-inner">写真一覧</h2>
    </div>
    <div class="your-images">
        <ul class="images-list">
        {% for image in images %}
            <li id="{{ forloop.counter }}" class="image-item">
                <div class="image-outer">
                    <div class="image">
                        <div class="img-outer">
                            <img id="{{ image.id }}" src="{{ MEDIA_URL }}{{ image.picture }}" alt="">
                        </div>
                        <button class="delete-btn" type="submit" value="{{ forloop.counter }}"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
                <p>{{ image.title }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}