html {
    height: 100%;
}

//body
body {
    font-family: Arial, Helvetica, sans-serif;
    // overflow: hidden;
    height: 100%;
    height: fit-content;
}

//全て適用
* {
    margin: 0;
    padding: 0;
    line-break: 1em;
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
}

#main {
    width: 100%;
}