{% extends "layout/content.html" %}
{% load static %}
{% block title %}写真一覧{% endblock title %}
{% block section %}
<div class="images-result">
    <div class="images-list row">
    {% for image in images %}
        <div id="{{ forloop.counter }}" class="image-item col-sm-6 col-md-3 col-xl-2">
            <div class="image-outer">
                <div class="image">
                    <div class="img-outer">
                        <img id="{{ image.id }}" src="{{ MEDIA_URL }}{{ image.picture }}" alt="" width="" height="" />
                    </div>
                    <button class="delete-btn" type="submit" value="{{ forloop.counter }}"><i class="far fa-trash-alt"></i></button>
                </div>
            </div>
            <p>{{ image.title }}</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock section %}