{% extends "layout/content.html" %}
{% load static %}
{% block title %}写真一覧{% endblock title %}
{% block section %}
<div class="content-body__inner">
    <div class="images-box">
        <div class="images-left">
            <div class="images-list row">
            {% for image in images %}
                <div id="{{ forloop.counter }}" class="image-item col-sm-6 col-md-3 col-xl-2">
                    <div class="image-outer">
                        <div class="image">
                            <img id="{{ image.id }}" src="{{ MEDIA_URL }}{{ image.picture }}" alt="" width="" height="" />
                        </div>
                        <input id="chekcbox-{{ forloop.counter }}" type="checkbox" class="image-checkbox"/>
                        <button class="image-btn delete-btn" type="submit" value="{{ forloop.counter }}"><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="images-right">
            <div class="images-dragAndDrop">
                <span class="images-dragAndDrop__text">ドラッグ&ドロップ</span>
            </div>
        </div>
    </div>
</div>
{% endblock section %}