{% extends "layout/content.html" %}
{% load static %}
{% block title %}スクレイピング{% endblock title %}
{% block section %}
    <div id="search" class="search-form">
        <form action="" method="post">
        {% csrf_token %}
            <p>スクレイピングしたいキーワードを入力してください。</p>
            {{ form.search }}
            <input id="submit" type="submit" name="submit" value="スクレイピング実行" />
        </form>
    </div>
    <div class="search-results">
        <ul class="images-list">
        {% for link in link_list %}
            <li id="{{ forloop.counter }}" class="image-item">
                <div class="image-outer">
                    <div class="image">
                        <div class="img-outer">
                            <img src="{{ link }}" alt="" width="" height="" />
                        </div>
                        <button class="save-btn" type="submit" value="{{ forloop.counter }}"><i class="fas fa-save"></i></button>
                    </div>
                </div>
                <p>{{ word }}_{{ forloop.counter }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock section %}