{% extends "layout/content.html" %}
{% load static %}
{% block title %}スクレイピング{% endblock title %}
{% block section %}
<div class="content-body__inner">
    <div id="search" class="search-box">
        <p>スクレイピングしたいキーワードを入力してください。</p>
        <form action="" method="post" class="search-box__form">
        {% csrf_token %}
            {{ form.keyword }}
            <!-- テスト用 -->
            <div class="search-box__inputWrap">
                <input type="text" name="keyword" autocomplete="off" class="test" id="id_keyword">
            </div>
            {% comment %} <button id="submit" type="submit" class="search-box__btn"><i class="search-box__btn__icon fas fa-search"></i><span class="search-box__btn__text">検索</span></button> {% endcomment %}
            <button id="submit" type="submit" class="search-box__btn"><i class="search-box__btn__icon fas fa-search"></i></button>
        </form>
    </div>
    <div class="images-box">
        <div class="images-left">
            <div class="images-list row">
            {% comment %} {% for link in link_list %}
                <div id="{{ forloop.counter }}" class="image-item col-sm-7 col-md-3 col-xl-2">
                    <div class="image-outer">
                        <div class="image">
                            <div class="img-outer">
                                <img src="{{ link }}" alt="" width="200" height="" />
                            </div>
                            <button class="save-btn" type="submit" value="{{ forloop.counter }}"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                    <p>{{ word }}_{{ forloop.counter }}</p>
                </div>
            {% endfor %} {% endcomment %}
    
            {% for serve in for_range %}
                <div id="{{ forloop.counter }}" class="image-item col-sm-6 col-md-3 col-xl-2">
                    <div class="image-outer">
                        <div class="image">
                            <div class="img-outer">
                                <img src="/media/user_1/cD1urHqUtyVZUO7.jpg" alt="" width="" height="" />
                            </div>
                            <button class="save-btn" type="submit" value="{{ forloop.counter }}"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="images-right">
            <div class="images-dragAndDrop">
                <p class="images-dragAndDrop__text">ドラッグ&ドロップ</p>
            </div>
            <div class="images-btn__group">
                <button type="button" class="images-btn__reset">リセット</button>
                <button type="button" class="images-btn__save">保存する</button>
            </div>
            <div class="preview__box">
                <img src="/media/user_1/cD1urHqUtyVZUO7.jpg" alt="" width="" height="" />
            </div>
            <div class="preivew-list"></div>
        </div>
    </div>
</div>
{% endblock section %}