{% extends "layout/content.html" %}
{% load static %}
{% block title %}スクレイピング{% endblock title %}
{% block section %}
<div class="content-body__inner">
    <div id="search" class="search-box">
        <p>スクレイピングしたいキーワードを入力してください。</p>
        <form action="" method="post" class="search-box__form">
        {% csrf_token %}
        <!-- テスト用 -->
        <div class="search-box__inputWrap">
                {{ form.keyword }}
                {% comment %} <input type="text" name="keyword" autocomplete="off" class="test" id="id_keyword"> {% endcomment %}
            </div>
            {% comment %} <button id="submit" type="submit" class="search-box__btn"><i class="search-box__btn__icon fas fa-search"></i><span class="search-box__btn__text">検索</span></button> {% endcomment %}
            <button id="submit" type="submit" class="search-box__btn"><i class="search-box__btn__icon fas fa-search"></i></button>
        </form>
    </div>
    <div class="images-box">
        <div class="images-left">
            {% include 'utility/images-left.html' %}
        </div>
        <div class="images-right">
            {% include 'utility/images-right.html' %}
        </div>
    </div>
</div>
{% endblock section %}