html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

* {
  margin: 0;
  padding: 0;
  line-break: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main {
  width: 100%;
}

.main-header {
  background: #e9e9e9;
  width: 100%;
  height: 45px;
  text-align: center;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.main-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main-header__title {
  font-size: 24px;
}

#side-bar {
  color: white;
  width: 220px;
  min-width: 220px;
  max-width: 500px;
  height: 100vh;
  background-color: #3cb106;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#side-bar #group-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  background: #14642f;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#side-bar #group-name h2 {
  width: 80%;
  padding: 8px;
  font-size: 20px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#side-bar #group-name .arrow {
  width: 20%;
  position: relative;
}

#side-bar #group-name .arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-15%, -50%) rotate(135deg);
          transform: translate(-15%, -50%) rotate(135deg);
  width: 13px;
  height: 1px;
  background: #fff;
  z-index: 100;
}

#side-bar #group-name .arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-85%, -50%) rotate(45deg);
          transform: translate(-85%, -50%) rotate(45deg);
  width: 13px;
  height: 1px;
  background: #fff;
}

#side-bar #menu {
  margin-top: 44px;
}

#side-bar #menu .menu-item {
  margin-bottom: 26px;
  position: relative;
  padding-right: 8px;
  padding-left: 8px;
}

#side-bar #menu .menu-item button {
  border: none;
  background: inherit;
  cursor: pointer;
  color: #fff;
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  border-radius: 4px;
}

#side-bar #menu .menu-item button:hover {
  background: #104921;
}

#side-bar #menu .menu-item button a {
  margin: 4px;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
}

#side-bar #menu .menu-item button a:visited, #side-bar #menu .menu-item button a:hover, #side-bar #menu .menu-item button a:active {
  color: #fff;
}

#search {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

#search form p {
  padding-top: 20px;
  margin-bottom: 10px;
}

#search form #id_search {
  font-size: 17px;
  border-radius: 7px;
  padding: 5px 10px;
  border: 2px solid #acacac;
  margin-bottom: 7px;
}

#search form #submit {
  display: block;
  margin: 0 auto;
  font-size: 15px;
  padding: 2px 4px;
}

.search-results .images-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 20px 40px 35px;
}

.search-results .images-list .image-item {
  margin: 10px;
  padding: 5px;
}

.search-results .images-list .image-item .image-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
}

.search-results .images-list .image-item .image-outer .image {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.search-results .images-list .image-item .image-outer .image .img-outer {
  height: 180px;
}

.search-results .images-list .image-item .image-outer .image .img-outer img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.search-results .images-list .image-item p {
  text-align: center;
}

#chart-head {
  margin-top: 30px;
}

#chart-head h2 {
  text-align: center;
}

.your-images .images-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 20px 40px 35px;
}

.your-images .images-list .image-item {
  margin: 10px;
  padding: 5px;
}

.your-images .images-list .image-item .image-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
}

.your-images .images-list .image-item .image-outer .image {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.your-images .images-list .image-item .image-outer .image .img-outer {
  height: 180px;
}

.your-images .images-list .image-item .image-outer .image .img-outer img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.your-images .images-list .image-item p {
  text-align: center;
}

.save-btn {
  border: none;
  background: rgba(11, 72, 204, 0.7);
  width: 27px;
  height: 27px;
  border-radius: 100px;
  position: absolute;
  top: 90%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.save-btn .fa-save, .save-btn .fa-trash-alt {
  font-size: 15px;
  color: white;
}

.save-btn .fa-trash-alt {
  font-size: 15px;
  color: white;
}

.save-btn.active {
  background: rgba(255, 0, 0, 0.705);
}

.delete-btn {
  border: none;
  background: rgba(255, 0, 0, 0.705);
  width: 27px;
  height: 27px;
  border-radius: 100px;
  position: absolute;
  top: 90%;
  right: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.delete-btn .fa-save, .delete-btn .fa-trash-alt {
  font-size: 15px;
  color: white;
}

.delete-btn .fa-trash-alt {
  font-size: 15px;
  color: white;
}

.delete-btn.active {
  background: rgba(11, 72, 204, 0.7);
}

.delete-btn:hover {
  background: rgba(255, 0, 191, 0.705);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/*# sourceMappingURL=style.css.map */